.custom-grid1{
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 2%;
}
.custom-grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}